<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
                <div class="col-sm">
                  <canvas id="pchart" width="400" height="400"></canvas>
                </div>
                <div class="col-sm">
                  <div class="row">
                    <div class="col-sm">
                      <p id="tt">涨幅</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <table class="table">
                      <tbody id="qt">
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
// window.nodeRequire = require;
// delete window.require;
// delete window.exports;
// delete window.module;
    </script>
    <script src="./../node_modules/jquery/jquery.min.js"></script>
    <script src="./../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./../node_modules/mousetrap/mousetrap.min.js"></script>
    <script src="./../node_modules/bootstrap-suggest-plugin/dist/bootstrap-suggest.min.js"></script>
    <script src="./../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="./../node_modules/moment/moment.js"></script>
    <script src="./gbchart.js"></script>
  </body>
</html>